body {
    background-color: white;
}

.container {
    display: flex;
    background-color: aqua;
    border: 6px solid blue;
    height: 400px;
    justify-content: center;

}

.box {
    background-color: brown;
    border: 12px solid red;
    height: 80px;
    align-self: center;
    align-items: center;
}