body {
    background-color: rgb(240, 228, 232);
}

li,p {
    color: rgb(94, 77, 77);
    font-weight: thin;
}

h2 {
    font-weight: bold;
}

img {
    width: 250px;
    height: auto;
}
em,strong{
    color: black;
}
